@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
.timeline-content{
    /* margin: 0;
    padding: 0; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Montserrat";
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
}
/* .timeline-content {
    background: #0A2049;
} */
.timeline{
    position: relative;
    max-width: 1600px;
    margin: 50px auto;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.timeline-container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background: rgba(0, 0, 0, 0.3); */
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.timeline-container:nth-child(1){
    animation-delay: 0s;
}
.timeline-container:nth-child(2){
    animation-delay: 1s;
}
.timeline-container:nth-child(3){
    animation-delay: 2s;
}
.timeline-container:nth-child(4){
    animation-delay: 3s;
}
.timeline-container:nth-child(5){
    animation-delay: 4s;
}
.timeline-container:nth-child(6){
    animation-delay: 5s;
}
.timeline-container:nth-child(7){
    animation-delay: 6s;
}
.text-box{
    padding: 20px 20px;
    background: #0A2049;
    position: relative;
    border-radius: 10px;
    font-size: 15px;
    font-weight: lighter;
    -webkit-box-shadow: 0px 63px 154px -20px rgba(7, 33, 66, 0.5);
    box-shadow: 0px 63px 154px -20px rgba(7, 33, 66, 0.5);
    transition-property: scale, transform;
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}
.text-box:hover{
    scale: 102%;
    transition-property: scale, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}
.left-timeline-container{
    left: 0;
}
.right-timeline-container{
    left: 50%;
}
.timeline-logo, .timeline-logo-right{
    position: absolute;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    right: -20px;
    top: 32px;
    z-index: 10;
    background: #0A2049;
    text-align: center;    
    padding: 12px 0px 2px 0px;
    color: white;
    cursor: pointer;
    transition-property: scale, transform;
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}
.timeline-logo-right{
    left: -20px;
}
.timeline-logo:hover{
    scale: 120%;
    transition-property: scale, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}
.timeline-logo-right:hover{
    scale: 120%;
    transition-property: scale, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}
.timeline-time{
    margin-left: 55px;
}
.institution-logo{
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
    background: #0A2049;
    cursor: pointer;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background: #0A2049;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}
.text-bold{
    font-weight: bold;
}
.text-box h2 {
    font-size: 18px;
    font-weight: 500;
}
.text-box small {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 15px;
}
.left-timeline-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #0A2049;
    right: -15px;
}
.right-timeline-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #0A2049;
    left: -15px;
}

@media screen and (max-width: 768px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .timeline-container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .right-timeline-container{
        left: 0;
    }
    .left-timeline-container img, .right-timeline-container img {
        left: 10px;
    }
    .left-timeline-container-arrow, .right-timeline-container-arrow {
        border-right: 15px solid #0A2049;
        border-left: 0;
        left: -15px;
    }
    .timeline-logo, .timeline-logo-right {
        left: 10px;
    }
}